# Mac OS X
*.DS_Store

#Git
*.BACKUP.*
*.LOCAL.*
*.BASE.*
*.REMOTE.*
*.orig
#emacs backup

*~

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
/MobMonkey/Build/Intermediates/PrecompiledHeaders/
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphoneos/
/MobMonkey/Build/Products/
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkey.build/Objects-normal/
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkey.build/MobMonkey~.dep
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkey.build/MobMonkey.dep
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkey.build/build-state~.dat
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkey.build/build-state.dat
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkey.build/MobMonkey.hmap
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkey.build/MobMonkey-project-headers.hmap
/MobMonkey/Build/Intermediates/MobMonkey.build/Debug-iphonesimulator/MobMonkeyTests.build/